<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.lhl.metadata.mapper.BusinessDomainMapper">
    <resultMap type="BusinessDomain" id="BusinessDomainResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="description" column="description" />
        <result property="parentId" column="parent_id" />
        <result property="sortOrder" column="sort_order" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>
    <sql id="selectBusinessDomainVo">
        select id, name, code, description, parent_id, sort_order, create_by, create_time, update_by, update_time, remark 
        from bi_business_domain
    </sql>
    <select id="selectBusinessDomainList" parameterType="BusinessDomain" resultMap="BusinessDomainResult">
        <include refid="selectBusinessDomainVo"/>
        <where>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
        </where>
        order by sort_order, create_time desc
    </select>
    <select id="selectBusinessDomainById" parameterType="Long" resultMap="BusinessDomainResult">
        <include refid="selectBusinessDomainVo"/>
        where id = #{id}
    </select>
    <insert id="insertBusinessDomain" parameterType="BusinessDomain" useGeneratedKeys="true" keyProperty="id">
        insert into bi_business_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="description != null">description,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="description != null">#{description},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
    <update id="updateBusinessDomain" parameterType="BusinessDomain">
        update bi_business_domain
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="description != null">description = #{description},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>
    <delete id="deleteBusinessDomainById" parameterType="Long">
        delete from bi_business_domain where id = #{id}
    </delete>
    <delete id="deleteBusinessDomainByIds" parameterType="String">
        delete from bi_business_domain where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
